
html,body,h1,h2,h3,h4,p,ul,ol,textarea,input{
	margin: 0;
	font-family: 'Noto Sans JP', sans-serif;
	letter-spacing: 0.1em;
	line-height: 1.6em;
}
ul,ol{
	padding: 0;
	list-style: none;
}
a{
	color: #555555;
	text-decoration: none;
}
input{
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
}
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
    padding: 0;
    border: 0;
    outline: none;
}
button,
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}
input[type="radio"] {
	display: none;
}
/* 
=========================
        themes
=========================
*/


/* 
========= chee ==========
*/
.container.-theme.chee,
.container.-theme.chee .contents.-hostmenu,
.container.-theme.chee .contents.-settingmenu,
.container.-theme.chee .container.-copyclipboard{
	background: #5EE2D2;
}
.container.-theme.chee .container.-lpbtn .btn.-lpstart,
.container.-theme.chee .preview-mark,
.container.-theme.chee .container.-form .btn.-submit,
.container.-theme.chee .container.-form .area.-input-file .input-file-touchicon,
.container.-theme.chee .container.-form .area.-input-file .input-file-preview,
.container.-theme.chee .container.-form .area.-input-file .input-file-toucharea,
.container.-theme.chee .container.-hostmenu .menu .-card .-btn,
.container.-theme.chee .container.-message-card .footer.-message-card .btn.-link{
	color: #fff;
	background: #FF7676;
}
.container.-theme.chee .container.-lpbtn .btn,
.container.-theme.chee .preview-mark,
.container.-theme.chee .header.-theme,
.container.-theme.chee .container.-form .btn,
.container.-theme.chee .btn.-menu,
.container.-theme.chee .contents.-hostmenu,
.container.-theme.chee .container.-hostmenu .menu .-card .-btn {
	box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}
.container.-theme.chee .contents.-settingmenu{
	box-shadow: 0 -3px 5px rgba(0,0,0,0.3);
}
.container.-theme.chee .header.-theme,
.container.-theme.chee .footer.-theme,
.container.-theme.chee .btn.-menu{
	background: #FF7676;
}
.container.-theme.chee .header.-theme .-appname,
.container.-theme.chee .footer.-theme .-appname,
.container.-theme.chee .container.-form .input-file + .input-file-toucharea{
	color: #fff;
}
.container.-theme.chee .container.-form .input-text,
.container.-theme.chee .container.-form .input-title,
.container.-theme.chee .container.-form .textarea{
	background: #F1F1F1;
}
.container.-theme.chee .header.-lp .-text,
.container.-theme.chee .container.-howtouse .-headline,
.container.-theme.chee .container.-howtouse .area.-howtouse .-bullet,
.container.-theme.chee .container.-lppoint .-headline,
.container.-theme.chee .container.-lppoint .area.-lppoint .-bullet,
.container.-theme.chee .container.-message-card .card,
.container.-theme.chee .container.-user-prev .card,
.container.-theme.chee .container.-message-card .header.-message-card .-title,
.container.-theme.chee .btn.-menu .hamburger-line-one,
.container.-theme.chee .btn.-menu .hamburger-line-two{
	background: #FFFF77;
}
.container.-theme.chee .container.-lppoint .-headline,
.container.-theme.chee .container.-lppoint .area.-lppoint .-bullet{
	background: #FF347A;
}

.container.-theme.chee .container.-form .input-text,
.container.-theme.chee .container.-form .input-title,
.container.-theme.chee .container.-form .input-textarea,
.container.-theme.chee .container.-message-card .card,
.container.-theme.chee .container.-user-prev .card{
	box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}
.container.-theme.chee .header.-lp .-appname,
.container.-theme.chee .header.-lp .-text,
.container.-theme.chee .contents.-sharebysns .-title,
.container.-theme.chee .container.-lpbtn .-title,
.container.-theme.chee .container.-howtouse .-headline,
.container.-theme.chee .container.-howtouse .area.-howtouse .-bullet,
.container.-theme.chee .container.-howtouse .area.-howtouse .-item,
.container.-theme.chee .container.-form .input-title,
.container.-theme.chee .container.-message-card .header.-message-card .-title,
.container.-theme.chee .container.-message-card .card .-text,
.container.-theme.chee .container.-select-theme .-title,
.container.-theme.chee .contents.-form .link.-option,
.container.-theme.chee .contents.-copyclipboard .-text,
.container.-theme.chee .container.-user-prev .-title,
.container.-theme.chee .container.-user-prev .card .-text{
	color: #FF347A;
}
.container.-theme.chee .container.-message-card .card .-by,
.container.-theme.chee .container.-user-prev .card .-by{
	color: #00AAD3;
}
.container.-theme.chee .container.-lppoint .-headline,
.container.-theme.chee .container.-lppoint .area.-lppoint .-bullet,
.container.-theme.chee .container.-lppoint .area.-lppoint .-item{
	color: #FFFF77;
}
.container.-theme.chee .container.-howtouse .area.-howtouse .-bullet,
.container.-theme.chee .container.-lppoint .area.-lppoint .-bullet,
.container.-theme.chee .container.-howtouse .contents.-howtouse .img-full{
	border-color: #FF347A;
}


/* 
========= Mono ==========
*/
.container.-theme.mono,
.container.-theme.mono .contents.-hostmenu,
.container.-theme.mono .contents.-settingmenu,
.container.-theme.mono .container.-copyclipboard{
	background: #F5F5F5;
}
.container.-theme.mono .container.-lpbtn .btn.-lpstart,
.container.-theme.mono .container.-howtouse .-headline,
.container.-theme.mono .container.-howtouse .area.-howtouse .-bullet,
.container.-theme.mono .container.-lppoint .-headline,
.container.-theme.mono .container.-lppoint .area.-lppoint .-bullet,
.container.-theme.mono .container.-message-card .header.-message-card .-title,
.container.-theme.mono .preview-mark,
.container.-theme.mono .container.-form .area.-input-file .input-file-touchicon,
.container.-theme.mono .container.-form .btn.-submit,
.container.-theme.mono .footer.-message-card .btn.-link,
.container.-theme.mono .container.-hostmenu .menu .-card .-btn{
	color: #FFF;
	background: #5A5A5A;
}
.container.-theme.mono .container.-lpbtn .btn
.container.-theme.mono .preview-mark,
.container.-theme.mono .header.-theme,
.container.-theme.mono .container.-form .btn,
.container.-theme.mono .btn.-menu,
.container.-theme.mono .contents.-hostmenu,
.container.-theme.mono .container.-hostmenu .menu .-card .-btn{
	box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}
.container.-theme.mono .contents.-settingmenu{
	box-shadow: 0 -3px 5px rgba(0,0,0,0.3);
}
.container.-theme.mono .header.-theme,
.container.-theme.mono .footer.-theme,
.container.-theme.mono .btn.-menu{
	background: #5A5A5A;
}
.container.-theme.mono .header.-theme .-appname,
.container.-theme.mono .footer.-theme .-appname{
	color: #FFF;
}
.container.-theme.mono .container.-lppoint .-headline,
.container.-theme.mono .container.-lppoint .area.-lppoint .-bullet,
.container.-theme.mono .container.-form .area.-input-file .input-file-preview,
.container.-theme.mono .container.-form .area.-input-file .input-file-toucharea{
	color: #5A5A5A;
	background-color: #FCFCFC;
}
.container.-theme.mono .container.-form .input-text,
.container.-theme.mono .container.-form .input-title,
.container.-theme.mono .container.-form .textarea,
.container.-theme.mono .container.-form .input-file + .input-file-toucharea,
.container.-theme.mono .container.-message-card .card,
.container.-theme.mono .container.-user-prev .card,
.container.-theme.mono .btn.-menu .hamburger-line-one,
.container.-theme.mono .btn.-menu .hamburger-line-two{
	background: #FCFCFC;
}
.container.-theme.mono .container.-message-card .card,
.container.-theme.mono .container.-user-prev .card{
	box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}
.container.-theme.mono .container.-form .input-text,
.container.-theme.mono .container.-form .input-title,
.container.-theme.mono .container.-form .textarea,
.container.-theme.mono .container.-form .textarea,
.container.-theme.mono .container.-message-card .card .-text,
.container.-theme.mono .container.-select-theme .-title,
.container.-theme.mono .contents.-form .link.-option,
.container.-theme.mono .contents.-copyclipboard .-text,
.container.-theme.mono .container.-user-prev .-title,
.container.-theme.mono .container.-user-prev .card .-text{
	color: #5A5A5A;
}
.container.-theme.mono .container.-message-card .card .-by,
.container.-theme.mono .container.-user-prev .card .-by{
	color: #5D5D5D;
}

.container.-theme.mono .container.-howtouse .area.-howtouse .-bullet,
.container.-theme.mono .container.-lppoint .area.-lppoint .-bullet,
.container.-theme.mono .container.-howtouse .contents.-howtouse .img-full{
	border-color: #5A5A5A;
}

/* 
========= natu ==========
*/
.container.-theme.natu,
.container.-theme.natu .contents.-hostmenu,
.container.-theme.natu .contents.-settingmenu,
.container.-theme.natu .container.-copyclipboard{
	background: #D5EAD8;
}
.container.-theme.natu .container.-lpbtn .btn.-lpstart,
.container.-theme.natu .preview-mark,
.container.-theme.natu .header.-theme,
.container.-theme.natu .container.-form .btn,
.container.-theme.natu .btn.-menu,
.container.-theme.natu .contents.-hostmenu,
.container.-theme.natu .contents.-settingmenu,
.container.-theme.natu .container.-hostmenu .menu .-card .-btn{
	box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}
.container.-theme.natu .contents.-settingmenu{
	box-shadow: 0 -3px 5px rgba(0,0,0,0.3);
}
.container.-theme.natu .container.-lpbtn .btn,
.container.-theme.natu .container.-howtouse .-headline,
.container.-theme.natu .container.-howtouse .area.-howtouse .-bullet,
.container.-theme.natu .preview-mark,
.header.-message-card .-title,
.container.-theme.natu .header.-theme,
.container.-theme.natu .footer.-theme,
.container.-theme.natu .container.-form .area.-input-file .input-file-touchicon,
.container.-theme.natu .container.-form .btn.-submit,
.container.-theme.natu .footer.-message-card .btn.-link,
.container.-theme.natu .btn.-menu,
.container.-theme.natu .container.-hostmenu .menu .-card .-btn{
	color: #fff;
	background: #AA965C;
}
.container.-theme.natu .container.-lppoint .-headline,
.container.-theme.natu .container.-lppoint .area.-lppoint .-bullet{
	color: #fff;
	background: #3A5800;
}
.container.-theme.natu .container.-message-card .header.-message-card .-title,
.container.-theme.natu .container.-message-card .card .-text,
.container.-theme.natu .container.-user-prev .-title,
.container.-theme.natu .container.-user-prev .card .-text,
.container.-theme.natu .header.-theme .-appname,
.container.-theme.natu .footer.-theme .-appname{
	color: #fff;
}
.container.-theme.natu .container.-form .area.-input-file .input-file-preview,
.container.-theme.natu .container.-form .area.-input-file .input-file-toucharea{
	color: #094610;
	background: #AA965C;
}
.container.-theme.natu .container.-form .input-text,
.container.-theme.natu .container.-form .input-title,
.container.-theme.natu .container.-form .textarea,
.container.-theme.natu .btn.-menu .hamburger-line-one,
.container.-theme.natu .btn.-menu .hamburger-line-two{
	background: #F1F1F1;
}

.container.-theme.natu .container.-form .input-file + .input-file-toucharea,
.container.-theme.natu .container.-message-card .card,
.container.-theme.natu .container.-user-prev .card{
	background: #DDC6A3;
}
.container.-theme.natu .container.-message-card .card,
.container.-theme.natu .container.-user-prev .card{
	box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}
.container.-theme.natu .container.-form .input-text,
.container.-theme.natu .container.-form .input-title,
.container.-theme.natu .container.-form .textarea,
.container.-theme.natu .container.-select-theme .-title,
.container.-theme.natu .contents.-form .link.-option{
	color: #094610;
}
.container.-theme.natu .header.-lp .-appname,
.container.-theme.natu .header.-lp .-text,
.container.-theme.natu .contents.-sharebysns .-title,
.container.-theme.natu .container.-lppoint .area.-lppoint .-item,
.container.-theme.natu .contents.-copyclipboard .-text,
.container.-theme.natu .container.-message-card .card .-by,
.container.-theme.natu .container.-user-prev .card .-by{
	color: #3A5800;
}
.container.-theme.natu .container.-howtouse .area.-howtouse .-item{
	color: #AA965C;
}
.container.-theme.natu .container.-howtouse .area.-howtouse .-bullet{
	border-color: #AA965C;
}
.container.-theme.natu .container.-lppoint .area.-lppoint .-bullet,
.container.-theme.natu .container.-howtouse .contents.-howtouse .img-full{
	border-color: #3A5800;
}

/* 
========= city ==========
*/
.container.-theme.city,
.container.-theme.city .container.-message-card .card,.container.-theme.city .container.-message-card .header.-message-card .-title,
.container.-theme.city .contents.-hostmenu,
.container.-theme.city .contents.-settingmenu,
.container.-theme.city .container.-copyclipboard{
	background: #0D0D0D;
}
.container.-theme.city .preview-mark,
.container.-theme.city .footer.-message-card .btn.-link{
	color: #FFF;
	background: #FF2692;
}
.container.-theme.city .container.-lpbtn .btn,
.container.-theme.city .preview-mark,
.container.-theme.city .header.-theme,
.container.-theme.city .container.-form .btn,
.container.-theme.city .btn.-menu,
.container.-theme.city .contents.-hostmenu,
.container.-theme.city .contents.-settingmenu{
	box-shadow: 0 5px 8px rgba(255,38,146,0.7);
}
.container.-theme.city .contents.-settingmenu{
	box-shadow: 0 -5px 8px rgba(255,38,146,0.7);
}
.container.-theme.city .footer.-theme,
.container.-theme.city .btn.-menu .hamburger-line-one,
.container.-theme.city .btn.-menu .hamburger-line-two{
	background: #FF2692;
}
.container.-theme.city .header.-theme .-appname,
.container.-theme.city .footer.-theme .-appname,
.container.-theme.city .header.-lp .-text,
.container.-theme.city .container.-howtouse .area.-howtouse .-detail,
.container.-theme.city .container.-lppoint .area.-lppoint .-detail{
	color: #FFF;
}
.container.-theme.city .header.-theme .-appname,
.container.-theme.city .footer.-theme .-appname{
	text-shadow: 0 2px 5px rgba(0,216,255,0.7);
}
.container.-theme.city .header.-lp .-text{
	text-shadow: 0 5px 8px rgba(255,38,146,0.7);
}

.container.-theme.city .container.-lpbtn .btn.-lpstart,
.container.-theme.city .container.-form .input-text,
.container.-theme.city .container.-form .input-title,
.container.-theme.city .container.-form .textarea,
.container.-theme.city .container.-form .area.-input-file .input-file-preview,
.container.-theme.city .container.-form .area.-input-file .input-file-touchicon,
.container.-theme.city .container.-form .area.-input-file .input-file-toucharea,
.container.-theme.city .container.-form .btn.-submit,
.container.-theme.city .btn.-menu,
.container.-theme.city .container.-hostmenu .menu .-card .-btn{
	background: #343434;
}
.container.-theme.city .contents.-sharebysns .-title,
.container.-theme.city .container.-form .area.-input-file,
.container.-theme.city .container.-message-card .header.-message-card .-title,
.container.-theme.city .contents.-copyclipboard .-text,
.container.-theme.city .container.-message-card .card{
	color: #00D8FF;
	text-shadow: 0 2px 5px rgba(0,216,255,0.7);
}
.container.-theme.city .container.-message-card .card,
.container.-theme.city .container.-user-prev .card{
	border: solid 1px #00D8FF;
	box-shadow: 0 5px 8px rgba(0,216,255,0.7);
}
.container.-theme.city .container.-lpbtn .btn.-lpstart,
.container.-theme.city .container.-form .area.-input-file .input-file-touchicon,
.container.-theme.city .container.-form .btn.-submit,
.container.-theme.city .btn.-menu,
.container.-theme.city .container.-hostmenu .menu .-card .-btn{
	border: solid 1px #FF2692;
	box-shadow: 0 5px 8px rgba(255,38,146,0.7);
}
.container.-theme.city .container.-howtouse .-headline,
.container.-theme.city .container.-howtouse .area.-howtouse .-bullet,
.container.-theme.city .container.-howtouse .area.-howtouse .-item,
.container.-theme.city .container.-form .input-text,
.container.-theme.city .container.-form .input-title,
.container.-theme.city .container.-form .textarea,
.container.-theme.city .container.-form .input-file + .input-file-toucharea,
.container.-theme.city .container.-message-card .card .-text,
.container.-theme.city .container.-select-theme .-title,
.container.-theme.city .contents.-form .link.-option,
.container.-theme.city .container.-user-prev .-title,
.container.-theme.city .container.-user-prev .card .-text{
	color: #00D8FF;
	text-shadow: 0 2px 5px rgba(0,216,255,0.8);
}
.container.-theme.city .header.-lp .-appname{
	color: #00D8FF;
	text-shadow: 0 5px 8px rgba(0,216,255,0.7);
}
.container.-theme.city .container.-lppoint .-headline,
.container.-theme.city .container.-lppoint .area.-lppoint .-bullet,
.container.-theme.city .container.-lppoint .area.-lppoint .-item,
.container.-theme.city .container.-lpbtn .-title,
.container.-theme.city .container.-lpbtn .btn.-lpstart,
.container.-theme.city .header.-theme,
.container.-theme.city .container.-form .area.-input-file .input-file-touchicon,
.container.-theme.city .container.-form .btn.-submit,
.container.-theme.city .container.-hostmenu .menu .-card .-btn,
.container.-theme.city .container.-message-card .card .-by,
.container.-theme.city .container.-user-prev .card .-by{
	color: #FF2692;
	text-shadow: 0 2px 5px rgba(255,38,146,0.8);
}
.container.-theme.city .container.-form .input-text::placeholder,
.container.-theme.city .container.-form .input-title::placeholder,
.container.-theme.city .container.-form .textarea::placeholder{
	text-shadow: none;
}
.container.-theme.city .container.-howtouse .-headline,
.container.-theme.city .container.-howtouse .area.-howtouse .-bullet,
.container.-theme.city .container.-lppoint .-headline,
.container.-theme.city .container.-lppoint .area.-lppoint .-bullet,
.container.-theme.city .container.-howtouse .contents.-howtouse .img-full{
	border: 1px solid #fff;
	box-shadow: 0 3px 5px rgba(255,255,255,0.7);
}

.container.-theme .container.-select-theme .-list .theme.chee .-color{
	background: linear-gradient(135deg, #FF7676, #5EE2D2);
}
.container.-theme .container.-select-theme .-list .theme.mono .-color{
	background: linear-gradient(135deg, #F5F5F5, #5A5A5A);
}
.container.-theme .container.-select-theme .-list .theme.natu .-color{
	background: linear-gradient(135deg, #EDD9A6, #094610);
}
.container.-theme .container.-select-theme .-list .theme.city .-color{
	background: linear-gradient(135deg, #FF2692, #000 ,#00D8FF);
}


/* 
=========================
      LP・利用規約・エラー
=========================
*/

.header.-lp .-appname{
	font-family: 'Damion', cursive;
	text-align: center;
	font-size: 70px;
	font-weight: 400;
	letter-spacing: 0;
}
.header.-lp .-text,
.container.-theme .container.-howtouse .-headline,
.container.-theme .container.-lppoint .-headline{
	padding: 5px 10px;
	display: inline-block;
}

.header.-lp .-text{
	margin: 10px 0 0;
	font-size: 22px;
	font-weight: bold;
}
.container.-theme .container.-howtouse .contents.-howtouse .-headline,
.container.-theme .container.-lppoint .contents.-lppoint .-headline{
	font-size: 18px;
}


.container.-theme .container.-howtouse .area.-howtouse .-bullet,
.container.-theme .container.-lppoint .area.-lppoint .-bullet{
	padding: 2px 10px;
	font-size: 12px;
	font-weight: bold;
	border: 3px solid;
	border-radius: 50px;
}
.container.-theme .container.-howtouse .contents.-howtouse .-item,
.container.-theme .container.-lppoint .contents.-lppoint .-item{
	margin: 5px 0 0;
	font-size: 16px;
}
.container.-theme .container.-howtouse .contents.-howtouse .-detail,
.container.-theme .container.-lppoint .contents.-lppoint .-detail{
	margin: 10px 0 0;
	font-size: 14px;
}

.contents.-lpbtn .btn.-lpstart{
	margin: 5px auto 30px;
}
.container.-howtouse,
.container.-lppoint{
	margin: 120px 0 0;
}

.container.-howtouse .contents.-howtouse .img-full{
	width: 90%;
	margin: 15px auto 0;
	border: 3px solid;
	box-sizing: border-box;
	display: block;
}

/* 
=========================
      SNSシェア
=========================
*/

.contents.-sharebysns .-title{
	text-align: center;
	font-weight: bold;
}
.contents.-sharebysns .area.-sharebysns{
	display: flex;
	justify-content: space-between;
}
.contents.-sharebysns .btn.-sharebysns{
	width: calc((100% - 30px)/3);
	margin: 10px 0 0;
	padding: 3px 8px;
	color: #fff;
	font-size: 12px;
	border-radius: 50px;
	box-sizing: border-box;
	box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}
.contents.-sharebysns .btn.-sharebysns span{
	width: 100%;
	text-align: center;
	display: block;
}
.contents.-sharebysns .btn.-sharebysns.twitter{
	background: #00acee;
}
.contents.-sharebysns .btn.-sharebysns.facebook{
	background: #3b5998;
}
.contents.-sharebysns .btn.-sharebysns.line{
	background: #00B900;
}



/* 
=========================
      CheersPage
=========================
*/

.preview-mark{
	padding: 40px 40px 2px;
	font-size: 12px;
	font-weight: bold;
	transform: rotate(45deg);
	position: fixed;
	top: -15px;
	right: -60px;
}
.btn.-menu{
	width: 60px;
	height: 60px;
	border-radius: 50px;
	position: fixed;
	bottom: 30px;
	right: 10px;
}
.btn.-menu .hamburger-line-one,
.btn.-menu .hamburger-line-two{
	width: 35px;
	height: 5px;
	border-radius: 10px;
	display: block;
}
.btn.-menu .hamburger-line-one{
	margin: 20px auto 0;
}
.btn.-menu .hamburger-line-two{
	margin: 10px auto;
}


.modal {
	width: 100vw;
	height: 100vh;
	z-index: 20;
}
.modal.-hostmenu,
.modal.-settingmenu,
.modal.-copyclipboard{
	position: fixed;
	top: 0;
	display: none;
}
.modal.-hostmenu{
	top: 0;
}
.modal.-settingmenu{
	top: 100vh;
	left: 0;
}
.modal.-copyclipboard{
	z-index: 30;
	top: 100vh;
	left: 0;
}
.modal .container{
	width: 100%;
	height: 100%;
}
.container.-hostmenu{
	display: flex;
}
.container.-hostmenu .-close{
	width: calc(70% + 10px);
	height: 100%;
	display: block;
}
.contents.-hostmenu{
	width: 40%;
	height: 100%;
	border-radius: 10px;
}
.contents.-hostmenu,
.container.-copyclipboard{
	display: flex;
	justify-content: center;
	align-items: center;
}
.contents.-hostmenu .menu-area{
	width: calc(100% - 50px);
	height: calc(100% - 60px);
	margin: 0 5px 0 0;
}
.contents.-hostmenu .menu{
	height: 100%;
	position: relative;
}
.contents.-hostmenu .menu .-card{
	width: 100%;
	height: 50px;
}
.contents.-hostmenu .menu .-card.-position-bottom{
	position: absolute;
	bottom: 30px;
}
.contents.-hostmenu .menu .-card .-btn{
	width: 100%;
	height: 100%;
	margin: 20px 0 0 0;
	padding: 15px 10px;
	text-align: left;
	font-size: 13px;
	font-weight: 800;
	line-height: 1.8em;
	border-radius: 10px;
	box-sizing: border-box;
	display: block;
}
.contents.-hostmenu .menu .-card .-btn span{
	font-size: 11px;
}
.contents.-copyclipboard{
	width: 100%;
	height: 200px;
}
.contents.-copyclipboard .-img{
	width: 100px;
	margin: 0 auto;
	display: block;
}
.contents.-copyclipboard .-text{
	margin: 15px 0 0;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.container.-settingmenu .-close{
	width: 100%;
	height: calc(90vh + 10px);
	display: block;
}
.contents.-settingmenu {
	width: 100%;
	height: 20vh;
	border-radius: 10px;
}


.slideInToLeft{
	display: block!important;
	animation: slideInToLeft 0.5s ease forwards;
}
@keyframes slideInToLeft{
	0%{ right: calc(-100% - 60px); }
	100%{ right: -10px; }
}
.slideUpDown{
	display: block!important;
	animation: slideUpDown 2s linear forwards;
}
@keyframes slideUpDown{
	0%{ top: 100vh; }
	10%{ top: 0; }
	90%{ top: 0; }
	100%{ top: 100vh;}
}
.slideInToTop{
	display: block!important;
	animation: slideInToTop 2s ease forwards;
}
@keyframes slideInToTop{
	0%{ top: 100vh; }
	100%{ top: auto; bottom: 0;}
}

.area.-howtouse,
.area.-lppoint,
.container.-lpbtn,
.container.-form,
.container .area.-input-file,
.container.-message-card,
.header.-message-card,
.contents.-message-card,
.container.-select-theme,
.container.-sharebysns{
	margin: 30px 0 0 0;
}
.container.-theme{
	min-height: 100vh;
	padding: 15px;
	box-sizing: border-box;
	overflow: hidden;
}
.header.-theme,
.footer.-theme{
	width: calc(100vw + 40px);
	border-radius: 50%;
	position: relative;
	left: -35px;
}
.header.-theme{
	padding: 50px 0 10px;
	top: -45px;
}
.footer.-theme{
	margin: 40px 0 0 0; 
	padding: 10px 0 30px;
	top: 40px;
}
.header.-theme .-appname,
.footer.-theme .-appname{
	font-family: 'Damion', cursive;
	text-align: center;
	font-size: 14px;
}
.contents.-theme{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.header.-form{
	width: 100%;
	height: 50px;
	display: block;
	position: relative;
}
.header.-form .btn.-submit.-topleft,
.header.-form .btn.-submit.-topright{
	padding: 3px 15px;
	border-radius: 50px;
	position: absolute;
}
.header.-form .btn.-submit.-topleft{
	left: 0px;
}
.header.-form .btn.-submit.-topright{
	right: 0px;
}
.header.-form .btn.-submit.-topleft span,
.header.-form .btn.-submit.-topright span{
	font-size: 16px;
}

.contents.-form .error-message{
	margin: 10px 0;
	padding: 2px 5px;
	color: #fff;
	font-size: 12px;
	background-color: #FF2692;
}
.contents.-form .input-title,
.contents.-form .input-text,
.contents.-form .input-password,
.contents.-form .textarea{
	width: 100%;
	box-sizing: border-box;
	font-weight: 800;
}
.contents.-form .input-title,
.contents.-form .input-text,
.contents.-form .textarea{
	border-radius: 10px;
}
.contents.-form .input-text,
.contents.-form .input-password,
.contents.-form .textarea{
	margin: 0 0 30px 0;
}
.contents.-form .input-title,
.contents.-form .textarea{
	padding: 15px 10px;
	box-sizing: border-box;
}
.contents.-form .input-text,
.contents.-form .textarea{
	font-size: 16px;
}
.contents.-form .input-text,
.contents.-form .input-password{
	padding: 10px;
}
.contents.-form .input-title{
	font-size: 20px;
}
.contents.-form .input-password{
	border-radius: 50px;
	font-size: 18px;
}
.contents.-form .textarea.-message{
	min-height: 200px;
}

.contents.-lpbtn .btn.-lpstart,
.contents.-form .btn.-submit,
.footer.-message-card .btn.-link{
	width: 250px;
	padding: 10px;
	border-radius: 50px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	display: block;
}
.contents.-form .btn.-submit,
.footer.-message-card .btn.-link{
	margin: 30px auto;
}
.contents.-lpbtn .btn.-lpstart span,
.contents.-form .btn.-submit span,
.footer.-message-card .btn.-link span{
	font-weight: 800;
	font-size: 14px;
	text-align: center;
	display: block;
}
.contents.-form .link.-option{
	width: 160px;
	margin: 15px auto 0;
	font-size: 12px;
	text-align: center;
	text-decoration: underline;
	display: block;
}

.contents.-form .input-file{
    display: none;
}
.container .area.-input-file{
	min-height: 50px;
}

.displayNone{
	display: none!important;
}

.contents.-form .area .box .input-file + .input-file-toucharea{
	width: 100%;
	height: calc((100vw - 60px) * 2/3);
	display: flex;
	justify-content: center;
	align-items: center;
}
.contents.-form .input-file-toucharea .-mark,
.contents.-form .input-file-toucharea .-text{
	text-align: center;
	display: block;
}
.contents.-form .input-file-toucharea .-mark{
	font-size: 50px;
}
.contents.-form .input-file-toucharea .-text{
	margin: 15px 0 0 0;
	font-size: 14px;
	font-weight: 800;
}
.contents.-form .input-file-preview{
	width: 100%;
	position: relative;
}
.contents.-form .input-file-preview .input-file-touchicon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	position: absolute;
	top: -10px;
	right: -5px;
}
.contents.-form .input-file-preview img{
	width: 100%;
	display: block;
}


.header.-message-card .-title{
	margin: 5px 0 0 0;
	padding: 3px 8px;
	font-size: 28px;
	font-weight: 800;
	display: inline-block;
}
.header.-message-card .-thumbnail{
	width: 100%;
	margin: 20px 0 0;
	display: block;
}
.contents.-message-card .card,
.contents.-user-prev .card{
	margin: 0 0 30px 0;
	padding: 15px;
	border-radius: 10px;
	font-weight: 800;
	position: relative;
}
.contents.-message-card .card .btn-delete{
	position: absolute;
	left: 15px;
	bottom: 15px;
}
.contents.-message-card .card .btn-delete .-trash{
	width: 20px;
	height: 20px;
	color: #5A5A5A;
	stroke:#5A5A5A;
	stroke-width: 3;
}
.contents.-message-card .card .-by,
.contents.-user-prev .card .-by{
	margin: 10px 0 0 0;
	text-align: right;
}

.header.-user-prev .-title,
.contents.-lpbtn .-title,
.contents.-select-theme .-title{
	text-align: center;
	font-weight: 800;
}
.contents.-select-theme .-list{
	margin: 20px 0 0 0;
	display: flex;
	justify-content: space-between;
}
.contents.-select-theme .-list .theme input[type='radio']:checked + label{
	border-bottom: solid 3px #4A4A4A;
	display: block;
}
.contents.-select-theme .-list .theme .-color{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.contents.-select-theme .-list .theme .-name{
	margin: 10px 0 0 0;
	color: #4A4A4A;
	font-size: 12px;
	text-align: center;
}

@media screen and (max-width:599px) {

	.container.-hostmenu .-close{
		width: calc(25% + 10px);
	}
	.contents.-hostmenu{
		width: 75%;
	}
	
}